{% extends "admin_base.html" %}
{% block content %}
	<table>
		<thead>
			<tr>
				<td>
					<label>title</label>
				</td>
				<td>
					<label>order_no</label>
				</td>
				<td>
					<label>content</label>
				</td>
			</tr>
		</thead>
		<tbody>
			{% for about in abouts%}
				<tr>
					<td>
						{{about.title}}
					</td>
					<td>
						{{about.order_no}}
					</td>
					<td>
						{{about.content}}
					</td>
					<td>
						<a href="/admin/about_edit/{{about.id}}">modify</a>
						<a href="/admin/about_delete/{{about.id}}" method='delete'>delete</a>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
	<a href="/admin/about_new">new about</a>
{% endblock %}