{% extends "admin_base.html" %}
{% block content %}

{% if basicinfo != None %}
	<form action="/admin/basicinfo_edit/{{basicinfo.id}}" method="post"  enctype='multipart/form-data'>
		<table>
			<tr>
				<td>机构名称</td>
				<td><input type="text" name="title"  value="{{ basicinfo.title }}"></input></td>
			</tr>
			<tr>
				<td>公司简介</td>
				<td><input type="text" name="intro" value="{{basicinfo.intro}}"></input></td>
			</tr>
			<tr>
				<td>主页主图片</td>
				<td>{{basicinfo.mainpic_url}}</td>
			</tr>

			<tr>
				<td><input type="file" name="file" ></td>
			</tr>

			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>
{% else %}
	<form action="/admin/basicinfo_new" method="post" enctype='multipart/form-data'>
		<table>
			<tr>
				<td>机构名称</td>
				<td><input type="text" name="title"  value="{{ basicinfo.title }}"></input></td>
			</tr>
			<tr>
				<td>公司简介</td>
				<td><input type="text" name="intro" value="{{basicinfo.intro}}"></input></td>
			</tr>
			<tr>
				<td>主页主图片</td>
				<td>{{basicinfo.mainpic_url}}</td>
			</tr>

			<tr>
				<td><input type="file" name="file" ></td>
			</tr>

			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>

{% endif %}
{% endblock %}
