{% extends "admin_base.html" %}
{% block content %}
	<table class="common_table">
		<thead>
			<tr>
				<td>
					<label>分店名称</label>
				</td>
				<td>
					<label>排序(整数)</label>
				</td>
				<td>
					<label>网址</label>
				</td>
				<td>
					<label>电话</label>
				</td>
				<td>
					<label>地址</label>
				</td>
				<td>
					<label>简介</label>
				</td>
				<td>
					<label>logo图片</label>
				</td>
				<td>
					
				</td>
			</tr>
		</thead>
		<tbody>
			{% for branch in branches%}
				<tr>
					<td>
						{{branch.title}}
					</td>
					<td>
						{{branch.order_no}}
					</td>
					<td>
						{{branch.url}}
					</td>
					<td>
						{{branch.tel}}
					</td>
					<td>
						{{branch.address}}
					</td>
					<td>
						{{branch.content}}
					</td>
					<td>
						{{branch.logo_pic}}
					</td>
					<td>
						<a href="/admin/branch_edit/{{branch.id}}">修改</a>
						<a href="/admin/branch_delete/{{branch.id}}" method="delete">删除</a>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
	<a href="/admin/branch_new">新建分店</a>
{% endblock %}
