{% extends "admin_base.html" %}
{% block content %}
{% if branch != None %}
	<form action="/admin/branch_edit/{{branch.id}}" method="POST">
		<table>
			<tr>
				<td>分店名称</td>
				<td><input type="text" name="title"  value="{{ branch.title }}"></input></td>
			</tr>
			<tr>
				<td>排序(整数)</td>
				<td><input type="text" name="order_no" value="{{branch.order_no}}"></input></td>
			</tr>
			<tr>
				<td>分店网址</td>
				<td><input type="text" name="url" value="{{branch.url}}" ></input></td>
			</tr>
			<tr>
				<td>电话</td>
				<td><input type="text" name="tel" value="{{branch.tel}}" ></input></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="address" value="{{branch.address}}" ></input></td>
			</tr>
			<tr>
				<td>简介</td>
				<td><input type="text" name="content" value="{{branch.content}}" ></input></td>
			</tr>
			<tr>
				<td>logo图片</td>
				<td><input type="text" name="logo_pic" value="{{branch.logo_pic}}" ></input></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>
{% else %}
	<form action="/admin/branch_new" method="post">
		<table>
			<tr>
				<td>分店名称</td>
				<td><input type="text" name="title"  ></input></td>
			</tr>
			<tr>
				<td>排序(整数)</td>
				<td><input type="text" name="order_no" ></input></td>
			</tr>
			<tr>
				<td>分店网址</td>
				<td><input type="text" name="url"  ></input></td>
			</tr>
			<tr>
				<td>电话</td>
				<td><input type="text" name="tel"  ></input></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="address"  ></input></td>
			</tr>
			<tr>
				<td>简介</td>
				<td><input type="text" name="content"  ></input></td>
			</tr>
			<tr>
				<td>logo图片</td>
				<td><input type="text" name="logo_pic"  ></input></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>
{% endif %}

{% endblock %}
