{% extends "admin_base.html" %}
{% block content %}
	<table class="common_table">
		<thead>
			<tr>
				<td>
					<label>标题</label>
				</td>
				<td>
					<label>排序(整数)</label>
				</td>

				{% if  module_no == 6 or  module_no == 7 %}
				<td>
					<lable>访问次数</lable>
				</td>
				{%  endif %}
				{% if  module_no  == 8%}
				<td>
					<lable>网址url</lable>
				</td>
				<td>
					<lable>关键字</lable>
				</td>
				{% endif%}
			
				{% if  module_no != 1 and  module_no != 6 and  module_no != 7 %}
				<td>
					<lable>标题图片</lable>
				</td>
				{% endif%}
								<td></td>

			</tr>
		</thead>
		<tbody>
			{% for metainfo in metainfos%}
				<tr>
					<td>
						{{metainfo.title}}
					</td>
					<td>
						{{metainfo.order_no}}
					</td>

					{% if metainfo.module_no == 6 or  metainfo.module_no == 7%}
					<td>
						{{metainfo.visited_times}}
					</td>
					{%  endif %}
					{% if  metainfo.module_no  == 8%}
					<td>
						{{metainfo.url}}
					</td>
					<td>
						{{metainfo.keyword}}
					</td>
					{%  endif %}

					{% if  module_no != 1 and  module_no != 6 and  module_no != 7 %}
					<td>
						<lable>{{metainfo.title_pic_url}}</lable>
					</td>
					{% endif%}

					<td>
						<a href="/admin/metainfo_edit/{{metainfo.id}}">修改</a>
						<a href="/admin/metainfo_delete/{{metainfo.id}}" method='delete'>删除</a>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
	<a href="/admin/metainfo_new/{{module_no}}">新建</a>
{% endblock %}
