{% extends "admin_base.html" %}
{% block content %}
	<table class="common_table">
		<thead>
			<tr>
				<td>
					<label>名字</label>
				</td>
				<td>
					<label>性别</label>
				</td>
				<td>
					<label>手机</label>
				</td>
				<td>
					<label>邮箱</label>
				</td>
				<td>
					<label>座机</label>
				</td>
				<td>
					<label>地址</label>
				</td>
				<td>
					<label>留言</label>
				</td>
				<td>
					<label>现在的情况</label>
				</td>
				<td>
					<label>是否询问</label>
				</td>
				<td>
					<label>计划课程</label>
				</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for signup in signups%}
				<tr>
					<td>
						{{signup.name}}
					</td>
					<td>
						{% if signup.sex == 0%}
							男
						{% else %}
							女
						{% endif%}
					</td>
					<td>
						{{signup.mobile}}
					</td>
					<td>
						{{signup.email}}
					</td>
					<td>
						{{signup.tel}}
					</td>
					<td>
						{{signup.address}}
					</td>
					<td>
						{{signup.content}}
					</td>
					<td>
						{{signup.now_situation}}
					</td>
					<td>
						{{signup.has_asked}}
					</td>
					<td>
						{{signup.plan_course}}
					</td>
					<td>
						<a href="/admin/signup_edit/{{signup.id}}">详细</a>
						<a href="/admin/signup_delete/{{signup.id}}" method="delete">删除</a>
					</td>
				</tr>
				
			{% endfor %}
		</tbody>
	</table>
	<!-- <a href="/admin/signup_new">new signup</a> -->
{% endblock %}
