{% extends "admin_base.html" %}
{% block content %}
{% if signup != None %}
	<form action="/admin/signup_edit/{{signup.id}}" method="POST">
		<table>
			<tr>
				<td>name</td>
				<td><input type="text" name="name"  value="{{ signup.name }}"></input></td>
			</tr>
			<tr>
				<td>sex</td>
				<td><input type="text" name="sex" value="{{signup.sex}}"></input></td>
			</tr>
			<tr>
				<td>mobile</td>
				<td><input type="text" name="mobile" value="{{signup.mobile}}" ></input></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" value="{{signup.email}}" ></input></td>
			</tr>
			<tr>
				<td>tel</td>
				<td><input type="text" name="tel" value="{{signup.tel}}" ></input></td>
			</tr>
			<tr>
				<td>address</td>
				<td><input type="text" name="address" value="{{signup.address}}" ></input></td>
			</tr>
			<tr>
				<td>content</td>
				<td><input type="text" name="content" value="{{signup.content}}" ></input></td>
			</tr>
			<tr>
				<td>now_situation</td>
				<td><input type="text" name="now_situation" value="{{signup.now_situation}}" ></input></td>
			</tr>
			<tr>
				<td>has_asked</td>
				<td><input type="text" name="has_asked" value="{{signup.has_asked}}" ></input></td>
			</tr>
			<tr>
				<td>plan_course</td>
				<td><input type="text" name="plan_course" value="{{signup.plan_course}}" ></input></td>
			</tr>
			<tr>
				<td><input type="submit" ></input></td>
			</tr>
		</table>
	</form>
{% else %}
	<form action="/admin/signup_new" method="post">
		<table>
			<tr>
				<td>name</td>
				<td><input type="text" name="name"  ></input></td>
			</tr>
			<tr>
				<td>sex</td>
				<td><input type="text" name="sex" ></input></td>
			</tr>
			<tr>
				<td>mobile</td>
				<td><input type="text" name="mobile" value="{{signup.mobile}}" ></input></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" value="{{signup.email}}" ></input></td>
			</tr>
			<tr>
				<td>tel</td>
				<td><input type="text" name="tel"  ></input></td>
			</tr>
			<tr>
				<td>address</td>
				<td><input type="text" name="address"  ></input></td>
			</tr>
			<tr>
				<td>content</td>
				<td><input type="text" name="content"  ></input></td>
			</tr>
			<tr>
				<td>now_situation</td>
				<td><input type="text" name="now_situation"  ></input></td>
			</tr>
			<tr>
				<td>has_asked</td>
				<td><input type="text" name="has_asked"  ></input></td>
			</tr>
			<tr>
				<td>plan_course</td>
				<td><input type="text" name="plan_course"  ></input></td>
			</tr>
			<tr>
				<td><input type="submit" ></input></td>
			</tr>
		</table>
	</form>
{% endif %}

{% endblock %}