{% extends "admin_base.html" %}
{% block content %}
{% if signup != None %}
	<form action="/admin/signup_edit/{{signup.id}}" method="POST">
		<table>
			<tr>
				<td>姓名</td>
				<td><input type="text" name="name"  value="{{ signup.name }}"></input></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><input type="text" name="sex" value="{{signup.sex}}"></input></td>
			</tr>
			<tr>
				<td>手机</td>
				<td><input type="text" name="mobile" value="{{signup.mobile}}" ></input></td>
			</tr>
			<tr>
				<td>邮箱</td>
				<td><input type="text" name="email" value="{{signup.email}}" ></input></td>
			</tr>
			<tr>
				<td>电话</td>
				<td><input type="text" name="tel" value="{{signup.tel}}" ></input></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="address" value="{{signup.address}}" ></input></td>
			</tr>
			<tr>
				<td>留言</td>
				<td><input type="text" name="content" value="{{signup.content}}" ></input></td>
			</tr>
			<tr>
				<td>现在情况</td>
				<td><input type="text" name="now_situation" value="{{signup.now_situation}}" ></input></td>
			</tr>
			<tr>
				<td>是否已询问</td>
				<td><input type="text" name="has_asked" value="{{signup.has_asked}}" ></input></td>
			</tr>
			<tr>
				<td>计划课程</td>
				<td><input type="text" name="plan_course" value="{{signup.plan_course}}" ></input></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>
{% else %}
	<form action="/admin/signup_new" method="post">
		<table>
			<tr>
				<td>姓名</td>
				<td><input type="text" name="name"  ></input></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><input type="text" name="sex" ></input></td>
			</tr>
			<tr>
				<td>手机</td>
				<td><input type="text" name="mobile" value="{{signup.mobile}}" ></input></td>
			</tr>
			<tr>
				<td>邮箱</td>
				<td><input type="text" name="email" value="{{signup.email}}" ></input></td>
			</tr>
			<tr>
				<td>电话</td>
				<td><input type="text" name="tel"  ></input></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="address"  ></input></td>
			</tr>
			<tr>
				<td>留言内容</td>
				<td><input type="text" name="content"  ></input></td>
			</tr>
			<tr>
				<td>现在情况</td>
				<td><input type="text" name="now_situation"  ></input></td>
			</tr>
			<tr>
				<td>是否已询问</td>
				<td><input type="text" name="has_asked"  ></input></td>
			</tr>
			<tr>
				<td>计划学习课程</td>
				<td><input type="text" name="plan_course"  ></input></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></input></td>
			</tr>
		</table>
	</form>
{% endif %}

{% endblock %}
