{% extends "base.html" %}
{% block content %}

  		<div class="row">
  			<div class="col-xs-12">
  				<div class="main_content">
  					<ul>

                                      <li>
                                            <div class="elem_title">
                                                <span class="elem_title_chinese">资费</span>
                                                <span class="elem_title_english">标准</span>
                                                <span class="more_button">
                                                
                                                </span>
                                            </div>
                                            <div class="elem_content">
                                                                                          
                                                <ul class="course_list">
                                                {% for charge in charges%}
                                                    <li>
                                                        <div class="normal_button">
                                                          <a href="/charges/{{charge.id}}">{{charge.title}}</a>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                                
                                                {% if c != None %}
                                                  <div class="course_elem">
                                                        <div class="course_title">
                                                        </div>
                                                        <p>
                                                          {{c.content | safe}}
                                                        </p>
                                                  </div>
                                                  {% endif %}
                                                </div>

                                        </li>
                                      </ul>

  				</div>
  			</div>
  		</div>
{% endblock %}