{% extends "base.html" %}
{% block content %}

  		<div class="row">
  			<div class="col-xs-12">
  				<div class="main_content">
  					<ul>

                                      <li>
                                            <div class="elem_title">
                                                <span class="elem_title_chinese">资费</span>
                                                <span class="elem_title_english">标准</span>
                                                <span class="more_button">
                                                
                                                </span>
                                            </div>
                                            <div class="elem_content">
                                              <a href="/charge_table/">点击查看资费标准</a>
                                            </div>
                                      </li>
                                    </ul>

  				</div>
  			</div>
  		</div>
{% endblock %}