{% extends "base.html" %}
{% block content %}
  		<div class="row">
  			<div class="col-xs-12">
  				<div class="main_content">
  					<ul>

  						<li>
  							<div class="elem_title">
    							<span class="elem_title_chinese">联系</span>
  							  <span class="elem_title_english">我们</span>
                                                  <span class="more_button">
                                                  
                                                  </span>
                                                </div>
                                                <div class="elem_content">
                                                    <table>
                                                      <tr>
                                                        <td>电话:</td>
                                                        <td>0755-28623323</td>
                                                      </tr>
                                                      <tr>
                                                        <td>QQ:</td>
                                                        <td>2502870187</td>
                                                      </tr>
                                                      <tr>
                                                        <td>微信:</td>
                                                        <td>2502870187</td>
                                                      </tr>
                                                      <tr>
                                                        <td>地址：</td>
                                                        <td>深圳市龙岗区横岗街道横岗大厦1705-07</td>
                                                      </tr>
                                                      
                                                      <tr>
                                                        <td>地铁站：</td>
                                                        <td>横岗站(A出口 横岗大厦)</td>
                                                      </tr>

                                                      <tr>
                                                        <td>公交车站:</td>
                                                        <td>横岗地铁站</td>
                                                      </tr>

                                                      <tr>
                                                        <td>地图导航：</td>
                                                        <td>尚之舞国际舞蹈培训</td>
                                                      </tr>
                                                      
                                                      <tr>
                                                        <td>商家优势：</td>
                                                        <td>免费WIFI 免费停车位 支付宝 银联 微信支付</td>
                                                      </tr>
                                                    </table>
                                                </div>
  						</li>

                                    </ul>

  				</div>
  			</div>
  		</div>

{% endblock %}