{% extends "base.html" %}
{% block content %}

  		<div class="row">
  			<div class="col-xs-12">
  				<div class="main_content">
  					<ul>
                                      <li>
                                        <div class="elem_title">
                                          <span class="elem_title_chinese">精彩</span>
                                          <span class="elem_title_english">视频</span>
                                          <span class="more_button">
                                          
                                          </span>
                                        </div>
                                        <div class="elem_content">
                                          <ul class="video_list">

                                            {% for v in videos %}
                                                <li>
                                                <div class="video_elem">
                                                    <iframe src="{{v.url}}" frameborder="0" allowfullscreen=""></iframe>
                                                    <div class="video_title">这热舞真带感!!!
                                                  </div>
                                                </div>
                                               </li>
                                            {% endfor %}

                                          </ul>
                                        </div>
                                      </li>

                                    </ul>

  				</div>
  			</div>
  		</div>

{% endblock %}